/** Body Section CSS **/
body {
    font-family: Monospace;
}

/** Hero Section CSS **/
div.hero-text>h1 {
    font-family: 'Recursive', sans-serif;
    font-weight: 900;
}

div.hero-text>h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.hero-text {
    padding-top: 10rem;
}

.initial-line::after {
    content: "";
    height: 2px;
    width: 23vw;
    background: black;
    display: inline-block;
    margin-left: 10px;
    transform: translateY(-10px);
}

@media screen and (max-width: 1196px) {
    .hero-img {
        padding-top: 5.5rem;
    }
}

/** Introduction Section CSS **/
.intro-title {
    display: block;
    letter-spacing: 15px;
}

.info-paragraph {
    line-height: 2rem;
}