@import './variables';

.services-hero {
    min-height: 85vh;
    padding-top: 1rem;
    background-color: hsl(49, 37%, 94%);

    h1 {
        color: whitesmoke;
    }

    img {
        width: 500px;
        height: 500px;
        box-shadow: 0 25px 30px rgb(0 0 0 / 50%);
    }
}

.services-main {
    padding: 4rem 0 4rem 0;

    p {
        @include pencilHeader;
    }
}