/** Fonts **/
$noto: 'Noto Sans', sans-serif;
$pencil: 'Indie Flower', cursive;
$recursive: 'Recursive', sans-serif;
$inconsolata: 'Inconsolata', monospace;

/** Colors **/
$gradient-color: linear-gradient(90deg, #4458dc, #854fee, 100%);
$soft-black: #252834;
$soft-red: #b46357;

@mixin pencilHeader {
    font-family: $pencil;
    font-weight: 700;
}