/** Fonts **/
/** Colors **/
/** Fonts **/
/** Colors **/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/** Body **/
body {
  font-family: "Inconsolata", monospace;
}

/** Navigation **/
.fa-otter:hover {
  color: blue;
}

/** Footer **/
footer {
  font-family: "Indie Flower", cursive;
}
footer p {
  font-size: 1.25rem;
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  margin-right: 20px;
  margin-left: 20px;
}

/** Fonts **/
/** Colors **/
/** Hero Section **/
.hero-text h1 {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
}
.hero-text h3 {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
}
.hero-text h3::after {
  content: "";
  height: 2px;
  width: 23vw;
  background: black;
  display: inline-block;
  margin-left: 10px;
  transform: translateY(-10px);
}

@media screen and (max-width: 1196px) {
  .hero-img {
    padding-top: 5.5rem;
  }
}
.hero-div {
  padding-top: 10rem;
}

/** Home Page Introduction **/
.brief-intro h2 {
  font-size: 1.5rem;
}
.brief-intro p {
  font-family: "Indie Flower", cursive;
  font-size: 1.25rem;
}

/** Home Portfolio Section **/
.gal-img {
  width: 100%;
  height: 100%;
}

.gallery-subtitle {
  font-family: "Indie Flower", cursive;
}

/** Fonts **/
/** Colors **/
/** Fonts **/
/** Colors **/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/** Body **/
body {
  font-family: "Inconsolata", monospace;
}

/** Navigation **/
.fa-otter:hover {
  color: blue;
}

/** Footer **/
footer {
  font-family: "Indie Flower", cursive;
}
footer p {
  font-size: 1.25rem;
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  margin-right: 20px;
  margin-left: 20px;
}

.about-header {
  z-index: 2;
}

/** About Hero Section **/
.about-hero {
  color: whitesmoke;
  height: 100vh;
}
.about-hero .about-container {
  height: 100%;
}
.about-hero .about-container .row {
  height: 100%;
}
.about-hero .about-container .row .about-hero-text {
  height: 100%;
  background-color: #252834;
}
.about-hero .about-container .row .about-hero-text .vert-title {
  transform: rotate(-90deg);
  margin-right: 11rem;
}
.about-hero .about-container .row .about-hero-text .about-title {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
}
.about-hero .about-container .row .about-hero-img {
  width: 100%;
  min-height: 100%;
}
.about-hero .about-container .about-hero-img {
  width: 100%;
  height: 100%;
}

/** Info Box CSS **/
.info-box {
  max-width: 860px;
  background-color: #b46357;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: 4.5rem;
  color: whitesmoke;
  font-family: "Indie Flower", cursive;
  border-radius: 10px;
}

/** carousel **/
#myCarousel {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#myCarousel .carousel-header {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
}

/** Fonts **/
/** Colors **/
.portfolio-hero {
  height: 100vh;
  background-image: url("../images/portfolio-hero.jpg");
  background-position: center;
  background-size: fill;
  background-attachment: fixed;
}
.portfolio-hero .text-container {
  background-color: #252834;
  color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
}
.portfolio-hero .text-container .red-text {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  font-size: 2.5rem;
  color: red;
}

/** Portfolio Card Section **/
.port-card-container {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.port-card-container .project-container {
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.port-card-container .project-container .proj-content-container {
  height: 50%;
}
.port-card-container .project-container .project-image {
  height: 100%;
  width: 100%;
}
.port-card-container .proj-text {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
}

/** Portfolio Transitional Section **/
.port-transition {
  background-image: url("../images/port-transition.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 400px;
}

/** Interest/Contact Section **/
.port-interest {
  background-color: #252834;
  padding: 5rem 0 5rem 0;
  color: whitesmoke;
}

/** Night Footer **/
.night-footer {
  background-color: #252834;
  color: white;
}
.night-footer .night-link {
  color: white;
}
.night-footer .night-link:hover {
  color: red;
}

/** Fonts **/
/** Colors **/
/** Contact Form Styling **/
.contact-section {
  min-height: 100vh;
  color: whitesmoke;
  background-image: linear-gradient(180deg, rgba(141, 135, 170, 0.9), rgba(141, 135, 170, 0.4)), url("../images/contact-page.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.contact-section .form-title {
  margin-top: 5rem;
}
.contact-section .contact-form {
  background-color: rgba(27, 27, 50, 0.8);
  padding: 2rem;
  margin-bottom: 12rem;
  border-radius: 10px;
}
.contact-section .contact-form .form-check {
  margin-left: 15px;
}/*# sourceMappingURL=main.css.map */